@media screen and (max-width: 1920px) {
    body{
        background-image: url(../imagenespag/6fondo.jpg);     
        margin: 0px;
    }

    /*header*/

    .recnegro{
        background-color: black;
        width: 100%;
        height: 30px; 
        margin-top: 0px;
    }

    .botonsony{
        margin-left: 918px;
    }

    .sony{
        width: 85px;
        height: 18px;
        padding-top: 6px;
    }

    .buscar{
        display: grid;
    }

    .buscador{
        margin-left: 1680px;
        margin-top: 10px;
        border-radius: 10px;
        padding-left: 7px;
        padding-bottom: 4px;
        padding-top: 4px;
        width: 150px;
    }

    .lupa{
        margin-left: 1840px;
        width: 33px;
        margin-top: -50px;
    }

    .recblanco{
        background-color: white;
        width: 100%;
        height: 42px;
        margin-left: 0px;
        background-position-x: center;
    }

    nav ul li::marker{
        display: none;
        font-size: 1px;
    }

    ul{
        display: flex;
        position: absolute;
        column-gap: 23px;
        padding-top: 21px;
        padding-inline-start: 20px;
        align-items: center;
    }

    li{
        font-family: "roboto";
        color: #0072ce;
        font-size: 16px;
        font-weight: 700;
        text-decoration: none;
    }

    li:hover{
        color: #000000;
        text-decoration: underline;
        text-decoration-thickness: 2px;
        text-decoration-color: #0b85e8;
    }

    .logoplay{
        width: 54px;
    }

    .logops5{
    width: 76px;
    }

    .logops4{
        width: 76px;
    }

    a{
        text-decoration: none;
    }

    /*seccion general*/

    .secciongeneral{
        display: flex;
        column-gap: 610px;
        margin-left: 160px;
        padding-top: 25px;
    }

    /*seccion izq*/

    .caja1{
        width: 300px;
    }

    h1{
        font-family: "roboto";
        font-weight: 700px;
        font-size: 25px;
        color: white;
        margin-bottom: 10px;
        margin-top: 18px;
    }

    .img-texto{
        display: flex;
        width: 1150px;
        column-gap: 40px;
    }

    .stray{
        width: 633px;
        height: 440px;   
    }

    h2{
        font-family: "roboto";
        font-weight: 700;
        font-size: 25px;
        color: white;
        margin: 0px;
    }

    .textoimg {
        font-family: "roboto";
        font-size: 14px;
        color: white;
    }

    .botoncompra {
        color: #0072ce;
        background-color: white;
        width: 100px;
        font-family: 'Roboto';
        font-size: 14px;
        font-weight: 700;
        text-decoration: none;
        padding-left: 13px;
        padding-right: 13px;
        padding-top: 6;
        padding-bottom: 6px;
        border-radius: 15px;
        transition: 0.6s;
        margin-top: 0;
        box-shadow: 3PX 3PX 3PX #0026536b;
    }

    .botoncompra:hover{
        background-color: black;   
        border-radius: 5px;
        transition: 0,3s;
    }

    /*seccion der*/

    .partederecha{
        display: table-caption;
        padding-top: 10px;
    }

    .formulario{
        width: 177px;
        font-family: "roboto";
        color: white;
        font-size: 13px;
        padding-top: 53px;
        margin-left: 520;
    }


    input{
        margin-top: 2px;
        margin-bottom: 4px;
    }

    .cajasformulario{
        height: 30px;
        color: #0c84e5;
        border-radius: 7px;
        border-color: #0b85e8;
    }

    h3{
        font-family: "roboto";
        font-size: 16px;
        color: white;
        margin-bottom: 8px;
    }
    
    /*seccion inferior*/

    .noticias{
        display: flex;
        column-gap: 50px;
        padding-top: 70px;
        padding-left: 160px;
    } 

    .noticiaindividual{
        width: 226px;
    }

    .ultimanoticiaindividual{
        width: 226px;
    }

    h4{
        color: #0072ce;
        background-color: white;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-weight: 700;
        padding: 3px;
        padding-left: 7px;
        border-radius: 15px;
        width: 86px;
        text-decoration: none;
        transition: 0.9s;
        margin: 5px;
    }

    h4:hover{ 
        background-color: black;  
    }

    .textoposteo{
        font-family: "roboto";
        color: white;
        font-size: 13px;
        margin: 0px;
        padding-top: 6px;
        padding-bottom: 6px;
    }

    article img{
        border-radius: 5px;
        box-shadow: 3PX 3PX 3PX #0026536b;
    }

    .imgnoticias:hover{
        opacity: 75%;
    }

    /*footer*/

    footer{
        background-color: black;
        height: 20px;
        width: 100%;
        margin-top: 100px;
    }

    .derechos{
        color: rgb(255, 255, 255);
        font-family: 'Roboto';
        font-size: 10px;
        text-align: center;
        padding-top: 4px;
    }
}

@media screen and (max-width: 1280px){
    body{
        background-image: url(../imagenespag/6fondo.jpg);     
        margin: 0px;
    }

    /*header*/

    .recnegro{
        background-color: black;
        width: 100%;
        height: 30px; 
        margin-top: 0px;
    }

    .botonsony{
        margin-left: 597px;
    }

    .sony{
        width: 85px;
        height: 18px;
        padding-top: 6px;
    }

    .buscar{
        display: grid;
    }

    .buscador{
        margin-left: 1050px;
        margin-top: 10px;
        width: 120;
        border-radius: 10px;
        padding-left: 7px;
        padding-bottom: 2px;
        padding-top: 2px;
    }

    .lupa{
        margin-left: 1180px;
        width: 33px;
        margin-top: -48px;
    }

    .recblanco{
        background-color: white;
        width: 100%;
        height: 42px;
        margin-left: 0px;
        background-position-x: center;
    }

    nav ul li::marker{
        display: none;
        font-size: 1px;
    }

    ul{
        display: flex;
        position: absolute;
        column-gap: 23px;
        padding-top: 21px;
        padding-inline-start: 20px;
        align-items: center;
    }

    li{
        font-family: "roboto";
        color: #0072ce;
        font-size: 16px;
        font-weight: 700;
        text-decoration: none;
    }

    li:hover{
        color: #000000;
        text-decoration: underline;
        text-decoration-thickness: 2px;
        text-decoration-color: #0b85e8;
    }

    .logoplay{
        width: 54px;
    }

    .logops5{
    width: 76px;
    }

    .logops4{
        width: 76px;
    }

    a{
        text-decoration: none;
    }

    /*seccion general*/

    .secciongeneral{
        display: flex;
        column-gap: 400px;
        margin-left: 22px;
    }

    /*seccion izq*/

    .caja1{
        width: 300px;
    }

    h1{
        font-family: "roboto";
        font-weight: 700px;
        font-size: 25px;
        color: white;
        margin-bottom: 10px;
        margin-top: 18px;
    }

    .img-texto{
        display: flex;
        width: 820px;
        column-gap: 20px;
    }

    .stray{
        width: 474px;
        height: 350px;   
    }

    h2{
        font-family: "roboto";
        font-weight: 700;
        font-size: 25px;
        color: white;
        margin: 0px;
    }

    .textoimg {
        font-family: "roboto";
        font-size: 14px;
        color: white;
    }

    .botoncompra {
        color: #0072ce;
        background-color: white;
        width: 100px;
        font-family: 'Roboto';
        font-size: 13px;
        font-weight: 700;
        text-decoration: none;
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 6;
        padding-bottom: 6px;
        border-radius: 15px;
        transition: 0.6s;
        margin-top: 0;
        box-shadow: 3PX 3PX 3PX #0026536b;
    }

    /*seccion der*/

    .partederecha{
        display: table-caption;
        padding-top: 10px;
    }

    .formulario{
        width: 177px;
        font-family: "roboto";
        color: white;
        font-size: 13px;
        padding-top: 46px;
        margin-left: 340px;
    }

    input{
        margin-top: 2px;
        margin-bottom: 4px;
    }

    h3{
        font-family: "roboto";
        font-size: 16px;
        color: white;
        margin-bottom: 8px;
    }
    
    
    /*seccion inferior*/

    .noticias{
        display: flex;
        column-gap: 26px;
        padding-top: 38px;
        padding-left: 22px;
    } 

    .noticiaindividual{
        width: 226px;
    }

    .ultimanoticiaindividual{
        width: 226px;
    }

    h4{
        color: #0072ce;
        background-color: white;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-weight: 700;
        padding: 3px;
        padding-left: 7px;
        border-radius: 15px;
        width: 86px;
        text-decoration: none;
        transition: 0.9s;
        margin: 5px;
    }

    h4:hover{ 
        background-color: black;  
    }

    .textoposteo{
        font-family: "roboto";
        color: white;
        font-size: 13px;
        margin: 0px;
        padding-top: 6px;
        padding-bottom: 6px;
    }

    article img{
        border-radius: 5px;
        box-shadow: 3PX 3PX 3PX #0026536b;
    }

    .imgnoticias:hover{
        opacity: 75%;
    }

    /*footer*/

    footer{
        background-color: black;
        height: 20px;
        width: 100%;
        margin-top: 18px;
    }

    .derechos{
        color: rgb(255, 255, 255);
        font-family: 'Roboto';
        font-size: 9px;
        text-align: center;
        padding-top: 5px;
    }
}

@media screen and (max-width: 640px) {

    .recnegro{
        background-color: black;
        width: 100%;
        height: 30px; 
        margin-top: 0px;
    }

    .sony {
        width: 70px;
        height: 18px;
        padding-top: 6px;
    }

    .botonsony{
        margin-left: 285px;
    }


    .recblanco{
        background-color: white;
        width: 100%;
        height: 42px;
        margin-left: 0px;
        background-position-x: center;
    }

    .buscador{
        display: none;
    }
    
    .lupa {
        margin-left: 590px;
        width: 29px;
        margin-top: -9px;
    }

    ul{
        display: flex;
        position: absolute;
        column-gap: 13px;
        padding-top: 21px;
        padding-inline-start: 20px;
        align-items: center;
        padding-left: 0px;
    }

    li{
        font-family: "roboto";
        color: #0072ce;
        font-size: 13px;
        font-weight: 700;
        text-decoration: none;
    } 

    li:hover{
        color: #000000;
        text-decoration: underline;
        text-decoration-thickness: 2px;
        text-decoration-color: #0b85e8;
    }

    .logoplay{
        width: 50px;
    }
    
    .logops5{
    width: 60px;
    }
    
    .logops4{
        width: 60px;
    
    }

    .secciongeneral {
        margin-left: 66px;
        margin-top: 10px;
        display: flex;
        flex-direction: column-reverse;
    }
    
    h1 {
        font-family: "roboto";
        font-size: 20px;
        color: white;
        margin-bottom: 10px;
        margin-top: 18px;
    }

    .img-texto {
        width: 493px;
        column-gap: 20px;
        display: block;
    }
    
    .stray {
        width: 493px;
    }
    
    h2 {
        font-family: "roboto";
        font-weight: 700;
        font-size: 18px;
        color: white;
        margin: 0px;
        padding-top: 15px;
    }
    
    .textoimg {
        font-family: "roboto";
        font-size: 12px;
        color: white;
    }
   
    .formulario {
        width: 499px;
        font-family: "roboto";
        color: white;
        font-size: 12px;
        padding-top: 0px;
        margin-left: 0px;
    }
    
    .cajasformulario {
        height: 20px;
        color: #0c84e5;
        border-radius: 7px;
        border-color: #0b85e8;
    }
    
    .botoncompra {
        color: #0072ce;
        background-color: white;
        width: 100px;
        font-family: 'Roboto';
        font-size: 13px;
        font-weight: 700;
        text-decoration: none;
        padding-left: 11px;
        padding-right: 11px;
        padding-top: 6;
        padding-bottom: 6px;
        border-radius: 15px;
        transition: 0.6s;
        margin-top: 0;
        box-shadow: 3PX 3PX 3PX #0026536b;
    }

    h3 {
        font-family: "roboto";
        font-size: 14px;
        color: white;
        margin-bottom: 2px;
    }

    .noticias {
        display: flex;
        column-gap: 40px;
        padding-top: 40px;
        padding-left: 66px;
        flex-wrap: wrap;
    }

    .ultimanoticiaindividual{
        display: none;
    }

    .textoposteo {
        font-family: "roboto";
        color: white;
        font-size: 12px;
        margin: 0px;
        padding-top: 6px;
        padding-bottom: 33px;
    }

    footer {
        background-color: black;
        height: 20px;
        width: 100%;
        margin-top: 18px;
    }

}
