@media screen and (max-width: 1920px) {
body{
    background-image: url(../imagenespag/6fondo.jpg);
    margin: 0px;      
}

/*header*/
.recnegro{
    background-color: black;
    width: 100%;
    height: 30px; 
    margin-top: 0px;
}

.botonsony{
    margin-left: 918px;
}

.sony{
    width: 85px;
    height: 18px;
    padding-top: 6px;
}

.buscar{
    display: grid;
}

.buscador{
    margin-left: 1680px;
    margin-top: 10px;
    border-radius: 10px;
    padding-left: 7px;
    padding-bottom: 4px;
    padding-top: 4px;
    width: 150px;
}

.lupa{
    margin-left: 1840px;
    width: 33px;
    margin-top: -30px;
}

.recblanco{
    background-color: white;
    width: 1920px;
    height: 42px;
    margin-left: 0px;
    background-position-x: center;
}

nav ul li::marker{
    display: none;
    font-size: 1px;
}

ul{
    display: flex;
    position: absolute;
    column-gap: 23px;
    padding-top: 21px;
    padding-inline-start: 20px;
    align-items: center;
}

li{
    font-family: "roboto";
    color: #0072ce;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
}

li:hover{
    color: #000000;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: #0b85e8;
}

.logoplay{
    width: 54px;
}

.logops5{
width: 76px;
}

.logops4{
    width: 76px;
}

a{
    text-decoration: none;
}
/*seccion superior*/

.caja{
    margin-left: 160px;
    margin-right: 160px;
    margin-top: 60px;
    margin-bottom: 0px;
}

.ps5{
    padding-top: 20px;
    padding-left: 0px;
    width: 400px;
    height: 94px;
}

.botones{
    padding-left: 450px;
    margin-top: -60px;
}

.hardware{
    color: #0072ce;
    background-color: white;
    width: 100px;
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 15px;
    transition: 0.6s;
    margin-top: 0;
    box-shadow: 3PX 3PX 3PX #0026536b;
}

.hardware:hover{
    background-color: black;   
    border-radius: 5px;
    transition: 0,3s;
}

.accesorios{
    color: #0072ce;
    background-color: white;
    width: 100px;
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 15px;
    transition: 0.6s;
    box-shadow: 3PX 3PX 3PX #0026536b;
    margin-left: 25px;
}

.accesorios:hover{
    background-color: black; 
    border-radius: 5px;
    transition: 0,3s;
}

/*texto-imagen*/
.contenedor-texto-imagen{
    display: flex;
    align-items: center;
    column-gap: 150px;
    padding-top: 55px;
}

.cajatexto{
    width: 100%;
    min-width: 380px;
}

h1{
    color: rgb(255, 255, 255);
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 28px;
}

.texto{
    padding-left: 22px;
    padding-top: 50px;
    padding-right: 942px;
}

p{
    color: white;
    font-family: 'Roboto';
    font-size: 15px;    
}

strong{
    font-size: 17px;
}

.consola{
    width: 850px;
}

/*footer*/

footer{
    background-color: black;
    height: 20px;
    width: 100%;
    margin-top: 133px;
}

.derechos{
    color: rgb(255, 255, 255);
    font-family: 'Roboto';
    font-size: 10px;
    text-align: center;
    padding-top: 4px;
}
}


@media screen and (max-width: 1280px) {
    body{
        background-image: url(../imagenespag/6fondo.jpg);
        margin: 0px;    
        height: 720;  
    }

    /*header*/
    .recnegro{
        background-color: black;
        width: 100%;
        height: 30px; 
        margin-top: 0px;
    }

    .botonsony{
        margin-left: 597px;
    }

    .sony{
        width: 85px;
        height: 18px;
        padding-top: 6px;
    }

    .buscar{
        display: grid;
    }

    .buscador{
        margin-left: 1050px;
        margin-top: 10px;
        border-radius: 10px;
        padding-left: 7px;
        padding-bottom: 2px;
        padding-top: 2px;
        width: 120px;
    }

    .lupa{
        margin-left: 1180px;
        width: 33px;
        margin-top: -28px;
    }

    .recblanco{
        background-color: white;
        width: 100%;
        height: 42px;
        margin-left: 0px;
        background-position-x: center;
    }

    nav ul li::marker{
        display: none;
        font-size: 1px;
    }

    ul{
        display: flex;
        position: absolute;
        column-gap: 23px;
        padding-top: 21px;
        padding-inline-start: 20px;
        align-items: center;
    }

    li{
        font-family: "roboto";
        color: #0072ce;
        font-size: 16px;
        font-weight: 700;
        text-decoration: none;
    }

    li:hover{
        color: #000000;
        text-decoration: underline;
        text-decoration-thickness: 2px;
        text-decoration-color: #0b85e8;
    }

    .logoplay{
        width: 54px;
    }

    .logops5{
    width: 76px;
    }

    .logops4{
        width: 76px;
    }

    a{
        text-decoration: none;
    }
    /*seccion superior*/

    .caja{
        margin-left: 22px;
        margin-top: 42;
        margin-bottom: 0px;
        margin-right: 22px;
    }

    .ps5{
        padding-top: 0px;
        padding-left: 0px;
        width: 378px;
        height: 82px;
    }

    .botones{
        padding-left: 450px;
        margin-top: -52px;
    }

    .hardware{
        color: #0072ce;
        background-color: white;
        width: 100px;
        font-family: 'Roboto';
        font-size: 14px;
        font-weight: 700;
        text-decoration: none;
        padding-left: 13px;
        padding-right: 13px;
        padding-top: 6;
        padding-bottom: 6px;
        border-radius: 15px;
        transition: 0.6s;
        margin-top: 0;
        box-shadow: 3PX 3PX 3PX #0026536b;
    }

    .hardware:hover{
        background-color: black;   
        border-radius: 5px;
        transition: 0,3s;
    }

    .accesorios{
        color: #0072ce;
        background-color: white;
        width: 100px;
        font-family: 'Roboto';
        font-size: 14px;
        font-weight: 700;
        text-decoration: none;
        padding-left: 13px;
        padding-right: 13px;
        padding-top: 6;
        padding-bottom: 6px;
        border-radius: 15px;
        transition: 0.6s;
        box-shadow: 3PX 3PX 3PX #0026536b;
        margin-left: 15;
    }

    .accesorios:hover{
        background-color: black; 
        border-radius: 5px;
        transition: 0,3s;
    }

    /*texto-imagen*/
    .contenedor-texto-imagen{
        display: flex;
        align-items: center;
        column-gap: 69px;
        padding-top: 35px;
    }

    .cajatexto{
        width: 100%
    }

    h1{
        color: rgb(255, 255, 255);
        font-family: 'Roboto';
        font-weight: 900;
        font-size: 28px;
    }

    .texto{
        padding-left: 22px;
        padding-top: 50px;
        padding-right: 942px;
    }

    p{
        color: white;
        font-family: 'Roboto';
        font-size: 15px;    
    }

    strong{
        font-size: 17px;
    }

    .consola{
        width: 730px;
    }

    /*footer*/

    footer{
        background-color: black;
        height: 20px;
        width: 100%;
        margin-top: 20px;
    }

    .derechos{
        color: rgb(255, 255, 255);
        font-family: 'Roboto';
        font-size: 10px;
        text-align: center;
        padding-top: 4px;
    }
    }

@media screen and (max-width: 640px) {

    .recnegro{
        background-color: black;
        width: 100%;
        height: 30px; 
        margin-top: 0px;
    }

    .sony {
        width: 70px;
        height: 18px;
        padding-top: 6px;
    }

    .botonsony{
        margin-left: 285px;
    }

    .recblanco{
        background-color: white;
        width: 100%;
        height: 42px;
        margin-left: 0px;
        background-position-x: center;
    }

    .buscador{
        display: none;
    }

    .lupa {
        margin-left: 590px;
        width: 29px;
        margin-top: -46px;
    }

    ul{
        display: flex;
        position: absolute;
        column-gap: 13px;
        padding-top: 21px;
        padding-inline-start: 20px;
        align-items: center;
        padding-left: 0px;
    }

    li{
        font-family: "roboto";
        color: #0072ce;
        font-size: 13px;
        font-weight: 700;
        text-decoration: none;
    } 
    
    li:hover{
        color: #000000;
        text-decoration: underline;
        text-decoration-thickness: 2px;
        text-decoration-color: #0b85e8;
    }

    .logoplay{
        width: 50px;
    }
    
    .logops5{
    width: 60px;
    }
    
    .logops4{
        width: 60px;
    
    }

    .ps5 {
        padding-top: 0px;
        padding-left: 50px;
        width: 270px;
        height: 59px;
    }

    .caja{
        margin-left: 22px;
        margin-top: 42px;
        margin-bottom: 0px;
        margin-right: 22px;
    }

    .botones {
        padding-left: 340px;
        margin-top: -44px;
    }
    
    .hardware {
        color: #0072ce;
        background-color: white;
        width: 100px;
        font-family: 'Roboto';
        font-size: 12px;
        font-weight: 700;
        text-decoration: none;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 4px;
        padding-bottom: 4px;
        border-radius: 15px;
        transition: 0.6s;
        margin-top: 0;
        box-shadow: 3PX 3PX 3PX #0026536b;
    }

    .accesorios {
        color: #0072ce;
        background-color: white;
        width: 100px;
        font-family: 'Roboto';
        font-size: 12px;
        font-weight: 700;
        text-decoration: none;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 4px;
        padding-bottom: 4px;
        border-radius: 15px;
        transition: 0.6s;
        box-shadow: 3PX 3PX 3PX #0026536b;
        margin-left: 15;
    }
    
    h1{
        color: rgb(255, 255, 255);
        font-family: 'Roboto';
        font-weight: 900;
        font-size: 22px;
    }
    
    .contenedor-texto-imagen {
        display: flex;
        align-items: center;
        column-gap: 60px;
        padding-top: 60px;
        flex-direction: column-reverse;
    }
    
    .cajatexto {
        width: 83%;
        padding-top: 22px;
    }

    p{
        color: white;
        font-family: 'Roboto';
        font-size: 14px;    
    }

    .consola {
        width: 500px;
    }

    footer {
        background-color: black;
        height: 20px;
        width: 100%;
        margin-top: 36px;
    }

}

